.mapContainer {
    width: 100%;
    height: 400px;
  }
  
  @media (min-width: 768px) {
    .mapContainer {
      height: 600px; 
    }
  }
  
  .listContainer {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ddd;
  }
  

  .listItem {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .listItem:hover {
    background-color: #f0f0f0;
  }